
*.iml
.DS_Store
.classpath
.idea
*.properties

target
webapp-target/
*.class
classes

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


npm-debug.log

rebel.xml
